.container {
  background: #eee;
  box-shadow: 1px 8px 12px 0 #000;
  padding: 10px 30px;
  margin: 100px auto;
  width: 25%;
  position: relative;
}

input {
  width: 30%;
}
.label {
  margin-bottom: 5px;
}

form {
  margin-bottom: 80px;
}

.submit {
  color: #eee;
  background: #444;
  padding: 3px 12px;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.submit:hover{background-color:orange;}
.submit:focus{background-color:red;}
